



@media (max-width: 768px) {
    .card-display {
        flex-direction: column;
    }
    .content-box {
      padding-top: 43px;
    }
    .welcome-title-div {
     padding-top: 43px;
     padding-bottom: 64px;
    }
    .welcome-title {
     font-size: 40px;
   }
 
  
  
  .container-2 {
    max-width: 315px;
    grid-template-columns: 1fr;
  }
}
